
/*------------------------------ new code ---------------------------------------------------------*/
/*  1- width
    2-height
    3- position
    4- display (inline , block , none)
    5- float , clear
    6- grouping of classes
    7- nesting
    8- overflow (auto , scroll , hidden , visible)
    9- visibility (hidden , visible )
    10- cursor
    11- selectors (~ , + , > , * )
*/
body{
    
    height:3000px;
    font-size:20px;

}

.flo
{
    background-color:red;
    margin:10px;
    float:left;
}

.clear {
    background-color: green;
    margin: 10px;
    clear: both;
}

p
{
    margin:20px;
    display:inline;
}

a
{
    display:block;
    width:10px;
}

.old
{
    margin-left:50px;
}

.pos
{
    margin-top:300px;
    margin-left:1300px;
    width:200px;
    height:40px;
    padding-top:4px;
    background-color:black;
    color:white;
    position:fixed;


}

.nesting,.nesting2{
    font-weight:bold;
}

.nesting p{
    color:red;
}

.nesting2 p{
    color:green;
}

.overflow {
    margin-top:40px;
    margin-left:15px;
    height:100px;
    width:200px;
    overflow:auto;
}

.selectors p + div 
{
    background-color:black;
    color:white;
}

input{
    display:block;
    margin:10px 20px;
    padding:10px;
    color:red;
}

input[placeholder="css test"]
{
    background-color:black;
    color:white;
}