p
{
    font-family:Calibri;
    color:black;
    letter-spacing:4px;
    font-size:20px;
    text-decoration:underline;
    text-transform:lowercase ;
    border-style:dashed;
    border-width:2px 3px;
    border-color:darkblue;
    margin:10px;
    padding:10px;
}

div {
    font-family:'Agency FB';
    font-style:italic;
    font-weight:bolder;
    background-color:brown;
    padding:10px;
}

.back {
    width: 200px;
    height: 200px;
    background-image: url('https://media.architecturaldigest.com/photos/63079fc7b4858efb76814bd2/16:9/w_4000,h_2250,c_limit/9.%20DeLorean-Alpha-5%20%5BDeLorean%5D.jpg');
    background-size: cover;
    /*background-size: 500px;*/
    background-position: center;
    background-repeat: no-repeat
}

.arabic{
    direction:rtl;
    text-indent:40px;
    font-size:x-large ;
    margin:10px;
}

a {
    border-style: solid;
    border-color: red;
    padding: 10px;
    margin:10px;
    font-size:20px
}
a:hover{

    color:blue;
    text-decoration:line-through;
}
a:active {
    color: red;
    text-decoration: none;
}
ul{
    list-style-type:square;
    list-style-position:inside;
    
}
ul li{
    border:1px solid
}
.list {
    margin-top: 20px;
    background-color:white;
}

